body{
  font-family: sans-serif;
  background-color:#28698f;
  margin: 0;
  width:auto;
  
}
header{
  width:auto;
    background-color: #28698f;
    height: 60;
    color: #0cf5ca;
    margin: 0;
    padding:20px;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
 main{
    background-color:#213782; 
    width: auto;
    color:#7291b5;
    padding: 20px;
 }
 .img{
     text-align: center;
 }
 .iframe{
     text-align: center;
 }
    img{
        width: 400px;
        
    }
 ul{
     text-align: left;
 }   
 .w{
     text-align: center;
 }
 footer{
     background-color: #28698f;
     width: auto;
     height: 40px;
     padding:20px;
 }

img{
    width:400px;
}
.copy{
    text-align: center;
}
.steam a{
    color:blue;
}
/*Зроби цей сайт красивим 😉*/
